Databases/01-XML-Basics/students-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="sex" type="xs:string" />
              <xs:element name="birth_date" type="xs:string" />
              <xs:element name="phone" type="xs:unsignedInt" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="course" type="xs:unsignedByte" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element name="faculty_number" type="xs:unsignedShort" />
              <xs:element name="endorsement" type="xs:string" />
              <xs:element name="enrollment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="date" type="xs:unsignedShort" />
                    <xs:element name="exam_score" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="taken_exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="exam_name" type="xs:string" />
                          <xs:element name="tutor" type="xs:string" />
                          <xs:element name="score" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>